.table {
    border-radius: 10px !important;
}

.table-container {
    border-radius: 10px !important;
    background-color: #f5f5f5;
    // border: 1px solid #e7e7e7;
    overflow: hidden;
    margin: 23px 27px;
}