<p-sidebar [(visible)]="sidebarVisible"></p-sidebar>


<p-menubar styleClass="header" [model]="items" *ngIf="showHead">


    <ng-template pTemplate="end">
        <div>

            <div class="p-inputgroup">
                <button pButton label="Todo" class="p-button-text" (click)="serchmenu.toggle($event)"></button>
                <p-menu #serchmenu [model]="searchbuttonitems" [popup]="true"></p-menu>
                <p-autoComplete class="search" placeholder="Buscar..."></p-autoComplete>
            </div>
        </div>


    </ng-template>
</p-menubar>
<div class="main">
    <router-outlet></router-outlet>
</div>